//- html(lang="#{config.shared.locale}")
html
  head
    if title
      title= title
    else
      title Welcome

    meta(http-equiv='X-UA-COMPATIBLE' content='IE=edge')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='Cache-control' content='no-cache')
    meta(http-equiv='Expires' content='-1')
    meta(name='theme-color', content='#ba3027')

    link(rel='icon', type='image/png' href='/favicon.png')
    link(rel='stylesheet', href='/css/styles.css')

  body

    section.content
      h1 Error!
      h3 #{message}
      h5 Error code: #{code}
