// GLOBAL STYLES
html, body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: #1e1e23;
}

html {
  background: #f2f6f7;
}


// HEADERS
h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0 0 5px;
}

h1 {
  font-size: 2em;
  font-weight: 100;
  margin: 0 0 5px 0;
}

h2 {
  font-size: 1em;
  font-weight: 100;
}
